/* АДАПТАЦИЯ */
/* --- Большие экраны (1281px - 1600px) --- */
@media (max-width: 1600px) {
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 2rem;
    }
    h4{
        font-size: 1.5rem;
    }
    p, button, span{
        font-size: 1.2rem;
    }
    :root {
	--card-height: 45vw;
    }
}

/* --- Небольшие ноутбуки (1025px - 1280px) --- */
@media (max-width: 1280px) {
    h1{
        font-size: 4.5rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.25rem;
    }
    p, button, span{
        font-size: 1.1rem;
    }
    a{
        font-size: 1rem;
    }
    :root {
	--card-height: 50vw;
    }
}

/* --- Планшеты (768px - 1024px) --- */
@media (max-width: 1024px) {
    body{
        background-image: url('media/fon/А4_вертикальные-01.webp');
    }
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.25rem;
    }
    h4{
        font-size: 1rem;
    }
    p, button, span{
        font-size: 0.8rem;
    }
    a{
        font-size: 0.8rem;
    }
    :root {
	--card-height: 60vw;
    }
    .hero-button a {
        width: 10rem;
    }
    .back-to-top{
    bottom: 3vw; /* 30px */
    right: 3vw; /* 30px */
    }
    .point-label {
        transform: none;
    }
    .map-point:nth-child(odd) .point-label {
        transform: none;
    }
    .timeline-image {
    width: 15rem;
    }
    .card_text
    .card_text p,
    .card_text h3,
    .card_text h4{
        margin: 0.5rem;
    }
    .card_text a {
        margin-right: 1rem;
    }
    .card_text a img {
        width: 3rem;
    }
}

/* --- Малые мобильные (481px - 767px) --- */
@media (max-width: 768px) {
    h1{
        margin-top: 20vw;
        font-size: 2rem;
    }
    h2{
        font-size: 1rem;
    }
    h3{
        font-size: 0.8rem;
    }
    h4{
        font-size: 0.7rem;
    }
    p, button, span, li{
        font-size: 0.6rem;
    }
    a{
        font-size: 0.6rem;
    }
    section{
        min-height: fit-content;
    }
    :root {
	--card-height: 60vw;
    }
    .leaf{
        width: 2rem;                /* 100px */
        height: 2rem;
    }
    .logo-hero{
        width: 70vw;
    }
    .card__content{
        padding: 0.5rem;
    }
    .card_text,
    .card_text p,
    .card_text h3,
    .card_text h4{
        margin: 0.1rem;
        font-size: xx-small;
    }
    .timeline-image {
        width: 10rem;
    }
    .card_text a img {
        width: 1.5rem;
    }
    .back-to-top{
        width: 2rem;
        height: 2rem;
    }
}

/* --- Мобильные устройства до 480px --- */
@media (max-width: 480px) {
    body{
        background-image: url('media/fon/а4_вертик_тел-01.webp');
    }
    h1{
        margin-top: 20vw;
        font-size: 1.8rem;
    }
    h2{
        font-size: 1rem;
    }
    h3{
        font-size: 0.7rem;
    }
    h4{
        font-size: 0.6rem;
    }
    p, button, span{
        font-size: 0.5rem;
    }
    a{
        font-size: 0.5rem;
    }
    .sources-grid {
    row-gap: 3rem;
    column-gap: 0.25rem;
    }
    .card__content{
        height: 100vw;
    }
    .leaf{
        width: 0;
        height: 0;
    }
    .graph {
    padding: 1rem 0; /* 40px 0 */
    }
    .timeline-image {
        width: 8rem;
    }
    :root{
        --card-height: 90vw;
    }
}

/* Отключаем hover-эффекты для тач-устройств */
@media (hover: none) and (pointer: coarse) {
    .hero-button a:hover {
    background-color: #C9243F; /* Возвращаем исходный цвет */
    }

    .map-point:hover .map-icon {
    transform: none;
    box-shadow: none;
    }

    .map-point:hover .point-label {
    background-color: white;
    color: #333;
    transform: none;
    border-color: transparent;
    }

    .map-point:nth-child(odd):hover .point-label {
    transform: none;
    }

    .card_text a:hover img {
    transform: none;
    }

    .option-btn:hover:not(:disabled) {
    background: white;
    transform: none;
    }

    .next-btn:hover:not(:disabled),
    .restart-btn:hover {
    background: #C92440;
    }

    .source-card:hover {
    transform: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    }

    .back-to-top:hover {
    background: #C9243F;
    transform: none;
    }

    .modal-close:hover {
    color: #777;
    }

    .btn--herbarium:hover {
    background-color: #2e7d32;
    }

    .timeline-content:hover {
    transform: none;
    }

    .source-card:hover h3 {
        color: #A0D7C7;
    }

    .source-card a:hover{
        text-decoration: none;
    }

    .developer-credit a:hover {
        color: #C9243F;
    }
}